[submodule "ros_ws/src/magni_robot"]
	path = ros_ws/src/magni_robot
	url = https://github.com/UbiquityRobotics/magni_robot
[submodule "ros_ws/src/p3at_tutorial"]
	path = ros_ws/src/p3at_tutorial
	url = https://github.com/Gastd/p3at_tutorial.git
