[submodule "ros_ws/src/magni_robot"]
	path = ros_ws/src/magni_robot
	url = https://github.com/UbiquityRobotics/magni_robot
[submodule "ros_ws/src/p3at_tutorial"]
	path = ros_ws/src/p3at_tutorial
	url = https://github.com/Gastd/p3at_tutorial.git
[submodule "ros_ws/src/aws-robomaker-small-house-world"]
	path = ros_ws/src/aws-robomaker-small-house-world
	url = https://github.com/aws-robotics/aws-robomaker-small-house-world.git
	[submodule "ros_ws/src/hector_slam"]
	path = ros_ws/src/hector_slam
	url = https://github.com/aws-robotics/hector_slamgit